*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.863);
   
    
}

.container {
     padding: 30px;
     width: 500px;
     min-height: 220px;
     background-color: white;
     border-radius: 8px;
     box-shadow: -2px -4px 8px rgba(0, 0, 0, 0.4);
    
}

.container p {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: brown;
    margin-bottom: 30px;
    
}

#jokes {
    margin-bottom: 50px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.btn {
   display: block;
   padding: 10px 20px;
   margin: 0 auto;
   background-color: rgba(137, 43, 226, 0.707);
   border: none;
   border-radius: 8px;
   color: white;
   cursor: pointer;
}

.btn:focus{
    outline: none;
}